<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this book</title> 
    <link rel="stylesheet" href="/static/styles/viewOneBook.css">
</head>
<body>
     <div>
            <h1>{{ book.title }}</h1>
            <p>Author: <span>{{ book.author }}</span> </p>
            <p>Published Year: <span>{{ book.year }}</span> </p>
            <p>Description: <span>{{book.description}}</span> </p>
        </div>
</body>
</html>